// import bootstrap 
@import '~bootstrap/scss/bootstrap'; 
// import variables 
@import './variables.scss';

// import fontaswer
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
// import google fonts 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

body{
    // font-family: 'Cormorant Garamond', serif;
    a{
        text-decoration: none;
        color:$marino;
        margin: .9375rem;
        
    };
    button{
        background-color: $jungle;
        border-radius: .25rem;
        color: white;
        padding: .5rem 2.5rem;
        font-size: 0.8rem;
        font-weight: 700;
        transition: transform .2s;


        &:hover{
            box-shadow:0 10px  ;
             transform: scale(1.1);

        }
    };
};